TOSSINVEST_CLIENT_ID=replace_with_local_secret
TOSSINVEST_CLIENT_SECRET=replace_with_local_secret

OPENDART_API_KEY=replace_with_local_secret
ECOS_API_KEY=replace_with_local_secret

KIS_APP_KEY=replace_with_local_secret
KIS_APP_SECRET=replace_with_local_secret
KIS_ACCOUNT_NUMBER=replace_with_local_account
